/* Setup snippet */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* Setup Snippet End */

/* Colors variable start*/
:root {
  --card: #C0C8F0;
  --contrast: #97DAE8;
  --highlight: #DBF0EF;
  --text: black;
  --outline: #aaa;
}
/* Colours variable end */

/* General Styling */
html {
  font-size: 62.5%;
  position: relative;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: radial-gradient(circle, var(--contrast) 10%, white 100%);
  animation: 4s ease-in 0s infinite alternate background;
}

body, button {
  background-size: cover;
  font-size: 1.6rem;
  font-family: 'Maitree', serif;
  color:var(--text);
  padding: 0;
  margin:0;
}

a, Link, a:visited, Link:visited {
  color: var(--text);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  border: var(--outline) 1px solid;
  border-radius: 4px;
  height: 48px;
  width: 256px;
  padding: 8px;
}

input:hover {
  border: var(--text) 1px solid;
}

button {
  cursor: pointer;
  border: none;
}

label {
  padding: 15px;

}

/* Button styling start*/

.rectangleButton, .dayButton {
  background-color: var(--highlight);
  border-radius: 4px;
  transition: background-color 0.1s;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.rectangleButton {
  height: 48px;
  width: 256px;
}

.dayButton {
  padding: 20px;
}

.rectangleButton:hover, .rectangleButton:focus, .dayButton:hover, .dayButton:focus {
  background-color: var(--contrast);
}

.rectangleButton:active, .dayButton:active {
  background-color: var(--highlight);
  color: var(--outline);
}

.deleteButton {
  background: none;
}

/* Button styling end */

/* Shadow styling start */
.shadow {
-webkit-box-shadow: 0px 4px 8px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 8px -8px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.1s;
}
.shadow:hover, .shadow:focus {
  -webkit-box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.75);
}

.shadowStatic {
-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

/* Shadow styling end */

.greetingMessage {
  font-size: 3.4rem;
  margin: 36px 0 0 0 ;
}


.welcomeContainer, .spendingContainer {
  background-color: white;
  margin-top: 5%;
  display: flex;
  border-radius: 10px;
}


/* General Styling End */


/* Welcome Container */
.welcomeContainer {
  align-items: center;
  flex-direction: column;
  width: 360px;
  padding: 36px 0 ;

}

.welcomeContainer .rectangleButton {
  margin-bottom: 24px
}

.welcomeContainer .imgContainer {
margin-bottom: 48px;
}

.welcomeContainer img {
  height: 200px;
  width: 200px;
  object-fit: cover; 
  border: var(--highlight) 10px solid; 
  border-radius: 50%;
}

.welcomeContainer h2 {
  font-size: 3.2rem;
  margin-bottom: 48px;
}
.welcomeContainer .message {
  text-align: center;
  margin-bottom: 40px;
  line-height: 32px;
}

.welcomeContainer .userIDStyle {
  /* font-weight: 700; */
  font-size: 2rem;
}

.welcomeContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.welcomeContainer input {
  margin-bottom: 24px;
}


.spendingContainer {
  padding: 50px;
  flex-direction: column;
  gap: 24px;
  align-items: center;

}

.spendingContainer h2 {
  font-size: 2.8rem;
  margin: 8px 0;
}

/* Spending Form */
.spendingAndButtons {
  width: 255px;
  display: flex;
  flex-direction: column;
}

.spendingFormContainer {
  display: flex;
  flex-direction: column;
}

.spendingFormContainer input {
  margin-bottom: 24px;
}

.spendingFormContainer h2 {
  margin-bottom: 16px;
  font-size: 2.4rem;
  text-align: center;
}

.spendingContainerDisplay {
  margin: 50px;
  padding: 30px;
  width: 800px;
  height: 300px;
  border: var(--outline) 1px solid;
  display: flex;
  gap: 200px;
  overflow-y: scroll;
}


.spendingListDisplay li {
  padding-block: 5px;
}

.dayButtonsContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}


.interactiveContainer {
  display: flex;
  gap: 32px;
  align-items: center;
}

.userBalanceContainer {
  display: flex;
  gap: 64px;
}

.userBalanceContainer h2 {
  border: 3px dashed var(--card);
  padding: 10px;
}

.listHeader,
.dayCount {
  font-weight: 400;
}

.spendingListDisplay .listHeader {
  font-size: 1.3em;
}

footer {
  position: absolute;
  color: white;
  top: 95vh;
}

/* Aniamtions */

  @keyframes background{
  from {
    background-position: center;
    background-size: 100% 100%;
  }
  to {
    background-position: center;
    background-size: 130% 130%;
    }
  }


/* media queries */

/* DESKTOP */
@media (max-width: 1385px) {
.spendingContainerDisplay {
  width: 400px;
  gap: 50px;
}

.spendingListDisplay li .listHeader {
  font-size: 1.8rem;
}

}

/* TABLET */
@media (max-width: 905px) {
  .userBalanceContainer {
    flex-direction: column;
    gap: 10px;
  }

  .interactiveContainer {
    flex-direction: column;
    width: 100%;
  }

  .spendingContainer {
    padding: 30px 0 30px 0;
  }

  .spendingContainer {
    box-sizing: border-box;
    margin-bottom: 70px;
  }

  .spendingContainer h2 {
    font-size: 1.8rem;
  }

  .greetingMessage {
    font-size: 3rem;
    margin: 36px 0 0 0 ;
  }
}

/* MOBILE */
@media (max-width: 550px) {

  .rectangleButton, .dayButton {
    width:100%;
  }

  .wrapper {
    width: 100%;
  }

  input {
    width: 100%;
  }

  .dayButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .dayButton {
    width: 100%;
    margin-block: 10px;
  }

  .spendingAndButtons {
    width: 100%;
  }

  .spendingContainerDisplay {
    margin: 10px;
  }

  .spendingFormContainer {
    width: 100%;
  }

  .interactiveContainer {
    margin: 0;
    width: 100%;
    padding: 10px;
  }
}

