@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@400;700&display=swap');

body {
  font-family: 'Maitree', serif;
  background-image: url(../assets/background.jpg);
  background-size: cover;
}

li {
  list-style: none;
}

.App {
  text-align: center;
}

.buddyLogo {
  width: 20%;
  height: 30vh;
  position: relative;
  left: 400px;
  top: 200px;
  opacity: 70%;
  border-radius: 100px;
}


